<!-- soal 2 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : ' + a }}</h1>
        <h1>{{ 'Rata rata : ' + rataRata }}</h1>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                rataRata: 0,
                a: 0,

            },
            methods: {
                openForm: function () {
                    let A = this.a;

                    while (A < 10) {
                        A = parseInt(prompt("Masukkan nilai a")) + A;
                        this.rataRata = parseFloat(A / 4);
                    }
                    this.a = A
                },
            },

        })
    </script>
</body>

</html>