* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.col-1 {
    float: left;
    width: 30%;
    height: 600px;
    background: #ccc;
    padding: 20px;
}

.col-1 img {
    margin-left: 100px;
    margin-top: 100px;
}

.col-2 {
    float: left;
    padding: 100px;

    width: 70%;
    background-color: #f1f1f1;
    height: 600px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {

    .col-1,
    .col-2 {
        width: 100%;
        height: auto;
    }
}