<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" placeholder="keyword" v-model="keyword">
        <ul>
            <li v-for="book in search">{{ book }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                keyword: "",
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrack',
                    'Algoritma Pemrograman',
                ]
            },
            computed: {
                search: function () {
                    if (this.keyword) {
                        return this.books.filter((book) => {
                            return this.keyword.split(" ").every((cek) => book.includes(cek))
                        });
                    } else {
                        return this.books;
                    }
                }
            }
        })
    </script>
</body>

</html>